{% if user.is_authenticated %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/im.chatbox.css" />
  <div id="chatbox">
    <div id="titlebar">
      <strong>Chat</strong> [<span id="counter">0</span>]
      <img src="{{ STATIC_URL }}images/ajax.gif" class="updating" alt="..." />
    </div>
    <ul id="userlist"></ul>
  </div>
  <script type="text/javascript">
    // Exporting some global variables:
    var IM_SYNC_URLS = { users: "{% url im_sync_users %}", 
                         requests: "{% url im_sync_requests %}" },
        IM_SYNC_DELAY = { users: {{ IM_USERLIST_POLL_EVERY.seconds }} * 1000, 
                          requests: {{ IM_CHATBOX_POLL_EVERY.seconds }} * 1000 };
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.okNotify.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/im.chatbox.js"></script>
{% endif %}
