{% load emoticons_filter %}
{% spaceless %}
  {% if message.event|stringformat:"i" %}
    <div id="message_{{ message.pk }}" class="event">
      [{{ message.created|time:"H:i" }}] {{ message.author }} {{ message }}
    </div>
  {% else %}
    <div id="message_{{ message.pk }}" class="message">
      <span class="{% ifequal request.user message.author %}self{% else %}other{% endifequal %}">
        [{{ message.created|time:"H:i" }}]
        <strong>{{ message.author }}</strong>
      </span>:
      {{ message|urlize|linebreaksbr|emoticons }}
    </div>
  {% endif %}
{% endspaceless %}
