<div id="request_{{ hash }}" class=".im_request">
{% spaceless %}
  {% if not state %}
    User <strong>{{ user }}</strong> want's to chat with you.
    You can either <a href="{% url im_accept_chat user %}" id="accept_{{ hash }}">Accept</a> or
    <a href="{% url im_decline_chat user %}" id="decline_{{ hash }}">Decline</a> his request.
  {% else %}
  {% ifequal state 1 %} 
    User <strong>{{ user }}</strong> accepted your chat request. 
    You can enter the chatroom by following 
    <a href="javascript:chat('{% url im_show_chat chat_id %}', '{{ user }}');">this</a> link.
  {% else %}
    User <strong>{{ user }}</strong> declined your chat request.
  {% endifequal %}
{% endif %}
{% endspaceless %}
</div>
