body {
  background: white;
  margin: 10px;
}

nav {
  float: right;
  z-index: 99;
}

body,
input {
  font-family: sans-serif;
  font-size: 10pt;
  color: black;
}

table { border-collapse: collapse; border: 0; }
td { border: 0; padding: 0; }

#content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#input { margin-top: .5em; }
#message { width: 40em; margin-right: .25em; }

#inbox .event { color: #CCCCCC; }
#inbox .event,
#inbox .message { 
    word-wrap: break-word; 
    padding: 0 .25em;
}
#inbox .other { color: #0163B3; }
#inbox .self { color: #D35900; }