#chatbox {
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 12em;
    right: 1em;
    border: 1px solid;
    border-bottom: none;
    font-size: 90%;
} 

#chatbox #titlebar { text-indent: .25em; }
#chatbox #titlebar:hover,
#chatbox #userlist li:hover { cursor: pointer; }
#chatbox #titlebar .updating { 
    float: right; 
    margin: .2em; 
    height: .85em;
    display: none;
}

#chatbox ul { 
    list-style: none; 
    padding: 0;
    margin: 0;
    text-indent: .25em;
    overflow: hidden;
}
#chatbox #userlist { border-top: 1px solid; border-bottom: 1px solid; }
#chatbox #userlist,
#chatbox #userlist .header ul { display: none; }
#chatbox #userlist .title { font-weight: bold; }
#chatbox #userlist .title.expanded { display: none; }
#chatbox #userlist .title:hover,
#chatbox #userlist .user:hover { background-color: #DDEEFF; }
#chatbox #userlist .user { padding-left: 1em; }
#chatbox #userlist .user a { text-decoration: none; font-color: #333333; }

.accepted { background-color: rgba(174, 200, 86, 0.8); }
.declined { background-color: rgba(237, 96, 96, 0.8); }
.request,
.info  { background-color: rgba(221, 238, 255, 0.8); }

.ui-notification { margin: 0; width: 300px; margin-top: 2px; }
.ui-notification p { margin: 0; padding: 0; }
.ui-notification-content,
.ui-notification .ui-notification-titlebar { padding: 2px 8px; }
.ui-notification .ui-notification-close { float: right; }
.ui-notification .ui-notification-close:hover { cursor: pointer; }
.ui-notification .ui-notification-title { font-size: 110%; font-weight: bold; }